* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* we removing the margins, paddings from start*/
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  
}
header {
    background-color: rgb(245, 215, 218);
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  
  .header-container{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
  }
  li {
    list-style: none;
  }
  
  a{
    color: black;
    text-decoration: none;
  }
  
  .navbar{
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
    align-self: center;
    justify-self: center;
  }
  .nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10em;
  }
  
  .nav-branding{
    font-size: 2rem;
  }
  
  .nav-link{
    transition: 0.7s ease;
  }
  
  .nav-link:hover{
    color:#c36cdd;
  }
  
  .hamburger{
    display: none;
    cursor: pointer;
  }
  
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;;
    background-color: white;
  }

.cta {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    /* margin-top: 0.5em; */
}  

.cta-select {
    border: 3px solid #c36cdd;
    background: transparent;
    color: #c36cdd;
    font-weight: 600;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    /* margin-top: 0em;  */
    transition: .2s all;
}
.cta-select:hover {
    background-color: #c36cdd;
    color: white;
  }

  .navbarlogo{
    background: linear-gradient(to right, rgb(66,39,90), rgb(115,75,109, 0.6));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

/*Footer part */

.select-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin: auto;
    min-height: 80vh;
}

.select-container h4{
    margin-bottom: 2em;
    font-size: 1.5rem;
}
label{
    margin-bottom: 1em;
    font-size: 1rem;
}

select{
    box-shadow: rgba(223, 160, 160, 0.16) 0px 5px 5px;
    font-size: 1rem;
    width: 10rem;
    padding: 0.5em 0.5em;
    /* background: rgb(202, 166, 166); */
    margin-bottom: 1em;
    color: black;

}

/*Footer part */
.footer{
    width: 100%;
    background-color: white;
    padding: 10px 0;
    margin-bottom: 0;
    bottom: 0;
    position: fixed;
  }
  
  .footer-container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3em;
  }

  .box-content{
    background-color: white;
    padding: 5% 2%;
    text-align: center;
    margin-top: 2em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 10px;
  }
  .boxes:hover {
    transform: scale(1.1);
  }
  .boxes:hover .box-content{
    background-color: white;
    color: white;
  }

  .box-content h2{
    margin-bottom: 0.5em;
    margin-top: 1em;
  } 

  .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    max-width: 50%;
    /* margin-top: 4em;
    margin-bottom: 4em; */
  }
  .box-content{
    background-color: white;
    padding: 10px 5px;
    text-align: center;
    margin-top: 2em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 10px;
  }

  .grid-img{
    width: 600px;
    height: 400px;
  }
  
  .box-description{
    align-self: center;
  }

@media screen and(max-width: 1200px){
  .container {
    flex-direction: column;
    max-width: 100%;
   }

   .grid-img{
    width: 70%;
    height: 50%;
  }

} 

  @media screen and (max-width: 600px){
 
    .hamburger{
      display: block;
    }
  
    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
  
    .nav-menu{
      position: absolute;
      left: -100%;
      top: 3rem;
      gap : 0;
      flex-direction: column;
      background-color: rgb(245, 215, 218);
      width: 100%;
      text-align: center;
      transition: 0.3s ease;
      z-index: 9999;
    }
  
    .nav-item{
      margin: 5px 0;
    }
  
    .nav-menu.active{
      left: 0;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .select-container h4{
        margin-bottom: 2em;
        font-size: 1rem;
    }

    select{
        box-shadow: 0 10px 25px ;
        font-size: 1rem;
        padding: 0.25em 0.25em;
        background: rgb(192, 123, 123);
        color: white;
    
    }

    .cta-select {
        border: 3px solid #c36cdd;
        background: transparent;
        color: #c36cdd;
        font-weight: 400;
        width: 75px;
        height: 30px;
        cursor: pointer;
        font-size: 15px;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 2em; 
        transition: .2s all;
    }
    .grid-img{
      width: 50%;
      height: 30%;
      min-width: 200px;
      min-height: 200px;
    }
    .container {
      flex-direction: column;
      max-width: 70%;
     }

     .box-content{
      margin-top: 1em;
    }

    .footer-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  
}

@media screen and (max-width: 300px){
  .grid-img{
    width: 50%;
    height: 30%;
    min-width: 150px;
    min-height: 150px;
  }
  .container {
    flex-direction: column;
    max-width: 70%;
   }

}




