* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* we removing the margins, paddings from start*/
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    /* background-color :rgba(168, 140, 143, 1); */
    background-color :rgb(245, 215, 218);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.header-container {
    display: flex;
    align-items: center;
    width: 90%;
    height: 10vh;
    margin: auto;
}

.logo-container, 
.nav-links {
    display: flex;
}

.logo-container{
    flex : 1;  /* Ia tot spatiul din header disponibil*/
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo-container h4 {
    margin-bottom: 0;
}

.logo{
   font-weight: 400;
   margin: 5px;
   white-space: nowrap;
}

.nav-links{
    justify-content: space-around;   /* for spacing and to remove the dots*/
    list-style: none;
}

.nav-link{    /* underlines and color is because of <a> tag and no because of <li>*/
    color: black;
    font-size: 18px;
    text-decoration: none;
}

nav {           /* este copil direct a lui header si nu unicul de tipul asta*/
    flex: 2;
}

.presentation {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    min-height: 80vh;
}

.cover img {
    height: 100%;
    filter: drop-shadow(0px 5px 3px rgb(82, 51, 51));
}

.cover {
    flex : 1;
    height: 60vh;
}

.introduction {
    margin: 10px;  /* margins are added by me*/
    flex : 1;
}

.intro-text {
    padding-right: 2em;
}
.intro-text h1 {
    font-size: 40px;
    font-weight: 600;
    background: linear-gradient(to right, rgb(179, 84, 104), rgba(121, 56, 101, 0.133));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .cta {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-top: 2em;
}  */

.cta-select {
    border: 3px solid #c36cdd;
    background: transparent;
    color: #c36cdd;
    font-weight: 600;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 2em; 
    transition: .2s all;
}
.cta-select:hover {
    background-color: #c36cdd;
    color: white;
  }


.intro-text p {
    margin-top: 7px;
    font-size: 20px;
    font-weight: 400;
    color: #000;
}

.burger {
    display: none;  
}

.burger div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 5px;
    display: flex;
    justify-content: flex-end;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        justify-content: space-between;
    }
    .presentation {
        flex-direction: column;
    }
    .introduction {
        margin-top: 5vh;
        text-align: center;
    }

    .intro-text {
        padding-right: unset;
    } 

    .intro-text h1 {
        font-size: 30px;
    }

    .intro-text p {
        font-size: 15px;
    }

    .cover {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cover img {
        max-width: 90%;
    }
    .cta {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .presentation {
        display: flex;
        width: 90%;
        margin: auto;
        min-height: 70vh;
        align-items: center;
    }
}


@keyframes navLinkFade 
{
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/*Footer part */
.footer{
    width: 100%;
    /* background-color: rgba(133, 102, 129, 0.6); */
    background-color: white;
    padding: 10px 0;
    margin-top: 4rem; 
    margin-bottom: 0;
}

.footer-container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

@media screen and (max-width: 600px){
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color :rgb(245, 215, 218);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 999;

    }
    .nav-links li {
        margin-top: 1em;
        opacity: 0;
        color: white;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.nav-active {
    transform: translateX(0%);
    width: 40vw;
    height: 100vh;
}