* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  /* we removing the margins, paddings from start*/
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
}
  
body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom, #DBE6F6, rgb(197,121,109, 0.6));
}

header {
  background-color: rgb(245, 215, 218);
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
li {
  list-style: none;
}

a{
  color: black;
  text-decoration: none;
}

.navbar{
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em;
  align-self: center;
  justify-self: center;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10em;
}

.nav-branding{
  font-size: 2rem;
}

.nav-link{
  transition: 0.7s ease;
}

.nav-link:hover{
  color:#c36cdd;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.footer{
  width: 100%;
  background-color: rgb(245, 215, 218);
  padding: 10px 0;
  margin-bottom: 0;
  bottom: 0;
  position: fixed;
}

.footer-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3em;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  /* margin-top: 1em; */
  margin-bottom: 4em;
}

.grid-img{
  width: 600px;
  height: 400px;
}

.box-content{
  background-color: white;
  padding: 10px 5px;
  text-align: center;
  margin-top: 2em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 10px;
}

.card-wrapper{
  display: flex;
  width:30%;
}

.boxes:hover {
  transform: scale(1.1);
}

.boxes:hover .box-content{
  background-color: white;
  color: white;
}

.navbarlogo{
  background: linear-gradient(to right, rgb(66,39,90), rgb(115,75,109, 0.6));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box-content h2{
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.card {
  flex: 1 1 auto;
  /* height: 100%; */
}

.h_container{
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  width:35px;
  height:35px;
  text-align:center;
  line-height:45px;

}
#heart{
  font-size: 25px;
}
#heart:active{
  animation: heartbeat 1.5s;
  color: red;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 2 );
  }
  40%
  {
    transform: scale( 1.5 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

@media screen and (max-width: 1024px) {
.nav-menu:first-child{
  margin-left: 2em;
 }
 .card-wrapper{
  width: 45%;
}
}


@media screen and (max-width: 600px){
  .card-wrapper {
    width: 80%;
  }

  .grid-img{
    width: 50%;
    height: 30%;
    min-width: 250px;
    min-height: 200px;
  }

  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position: absolute;
    left: -100%;
    top: 3rem;
    gap : 0;
    flex-direction: column;
    background-color: rgb(245, 215, 218);
    width: 100%;
    text-align: center;
    transition: 0.3s ease;
    z-index: 9999;
    padding: 15px;
  }

  .nav-item{
    margin: 5px 0;
  }

  .nav-menu.active{
    left: 0;
  }

  .footer-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .container {
   flex-direction: column;
  }

  .box-content{
    margin-top: 1em;
  }
}
