*{  
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
body{
	/* bottom: 0px;
	overflow:scroll; */
}
#appName{
    margin-bottom: 0;
}

header {
    background-color: rgb(245, 215, 218);
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  
  .header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
  li {
    list-style: none;
  }
  
  a{
    color: black;
    text-decoration: none;
  }
  
  .navbar{
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
    align-self: center;
    justify-self: center;
  }
  
  
  .nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10em;
  }
  
  .nav-branding{
    font-size: 2rem;
  }
  
  .nav-link{
    transition: 0.7s ease;
  }
  
  .nav-link:hover{
    color:#c36cdd;
  }
  
  .hamburger{
    display: none;
    cursor: pointer;
  }
  
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;;
    background-color: white;
  }
  

.spate{
    height: 100vh;
    width: 100vh;
    margin:0;
    display:block;
    flex-wrap:wrap;
    padding:0;
    font-size: 0;
    max-width: 100vh;
    max-height:100vh;
    min-height:100vh;
    min-width:100%;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)),url(Images/background2.jpg);
    background-position:center;
    background-repeat:repeat-y;
    background-size:cover;
    position:absolute;
}

.formular{
    display: flex;
    position:relative;
    height:36rem 19em;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    /* align-items: center; */
    width:65vh;
    background-color: rgba(245, 245, 245,0.9); 
    position:relative;
    margin:4% auto;
}
.selectare{

    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content: center;
    margin:5% 20%;
    /* border-left:4% auto; */
    /* padding:4% auto; */
}
#sel{
    /* Width:50%; */
    position: relative;
    align-content: center;
    
    /* margin-left:5%; */
    /* border-left:4% auto; */
    /* padding:auto; */
}
label{
    width:80%;
    /* margin-left:5%; */
    font-family: 'Roboto',sans-serif;
    font-style: oblique;
    color: rgba(43, 34, 40, 1);
    font-size: 1.6vh;
    display:inline-flex;
    flex-flow: row;
}
#blabla{
    position: relative;
    margin: inherit;
    padding: inherit;
    align-content: center;
}
.butoane{
    position: relative;
    align-content: center;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    border:inherit;
    margin:0%;
    
}
#nightmakeup{
    
    margin:4% auto;
    border:4% solid;
    border-radius:20px;
    border-color:rgba(211, 141, 176, 0.617);
    padding: 5% 7%;
    background-color: rgba(244, 193, 218, 0.53);
}
#nightmakeup:hover{
    
    margin:5% auto;
    border:4% solid;
    border-radius:20px;
    border-color:rgba(243,182,212,0.54);
    padding: 5% 7%;
    background-color: transparent;
    color:rgba(243,182,212,0.54);
    
}

h4{
    width:30vh;
    margin-left:5%;
    font-family: 'Roboto',sans-serif;
    font-style: oblique;
    color: rgba(43, 34, 40, 1);
    font-size: 1.7vh;
    display:inline-flex;
    flex-flow: row;
    align-self: center;
}
option{
    background-color: rgba(243,182,212,0.53);
    font-family: 'Roboto', sans-serif;
}
select{
        background-color: rgba(243,182,212,0.53);
        font-family: 'Roboto', sans-serif;
        font-size: 1.4vh;
        border:40% solid;
        border-color: rgba(243,182,212,0.53);
        border-radius: 20px;
        appearance:none;
        align-content: center;
        justify-content: center;
        Width:90%;
        position: relative;
        align-content: center;

        margin-left:5%;
        border-left:4% auto;
        padding:auto;
}

select::ms-expand{
    display: none;
}
.branduri{
    position: relative;
    flex-wrap:nowrap;
    display:flex;
    flex-flow:row;
    justify-content: center;
    /* margin-left:20%; */
}
#labelAlegeri{
    justify-content: center;
}
#donebutton{
    border:4px solid;
    border-color:rgba(243,182,212,0.54);
    border-radius:20px;
    padding: 5px 7px;
    align-self: center;
    font-size: 1.4vh;
    max-width: 200px;
    background-color: rgba(243,182,212,0.53);
    margin-top: 5%;
}
#donebutton:hover{
    border:4% solid;
    border-color:rgba(235, 31, 133, 0.54);
    border-radius:20px;
    padding: 5px 7px;
    background-color: transparent;
    color:rgba(221, 42, 131, 0.54);
    
}
.drugstore{
    position: relative;
    align-content: center;
    flex-wrap:nowrap;
    display:block;
    flex-flow:row;
    margin-left:10%;
    margin-right:10%;
}
/*Footer part */
.footer{
  width: 100%;
  background-color: transparent;
  padding: 10px 0;
  margin-bottom: 0;
  bottom: 0;
  position: fixed;
}

.footer-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3em;
}

p{
    margin-top:2vh;
    font-family: 'Roboto',sans-serif;
    font-style: oblique;
    color: rgba(43, 34, 40, 1);
    font-size: 100%;
}


@media screen and (max-width: 700px) {
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }


  .spate{
    height: 100%;
    width: 100%;
    margin:0;
    display:flex;
    flex-wrap:wrap;
    padding:0;
    overflow: scroll;
    font-size: 0;
    max-width: 100vh;
    max-height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)),url(Images/background_mobile.jpg);
    background-color: black;
    background-position:center;
    background-repeat:repeat-y;
    background-size:cover;
    position:absolute;
    z-index: 9998;
}

h4{
  width:60%;
  display: flex;
  flex-wrap:wrap;
  flex-flow:column;
}
.nav-menu{
    position: absolute;
    left: -100%;
    top: 3rem;
    gap : 0;
    flex-direction: column;
    background-color: rgb(245, 215, 218);
    width: 100%;
    text-align: center;
    transition: 0.3s ease;
    z-index: 9999;
    padding: 15px;
}
  .formular{
    display: flex;
    position:relative;
    height:36rem 19em;
    flex-direction: column;
    align-content: center;
    /* overflow: scroll; */
    justify-content: center;
    /* align-items: center; */
    width:60%;
    background-color: rgba(245, 245, 245,0.9); 
    position:relative;
    margin:4% auto;
}

  .nav-item{
    margin: 5px 0;
  }

  .nav-menu.active{
    left: 0;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.branduri{
  position: relative;
  flex-wrap:nowrap;
  display:flex;
  flex-flow:column;
  margin-left:20%;
}
.HighEnd{
  position: relative;
  align-content: center;
  flex-wrap:nowrap;
  display:block;
  flex-flow:row;
  margin-left:10%;
  margin-right:10%;
}
}