<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap" rel="stylesheet">
    <title>Landing Page</title>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo-container">
                <img src="../images/stilletos-svgrepo-com.svg" alt="logo">
                <h4 class="logo">Make-up Assistant</h4>
            </div>
            <nav class="navbar">
                <ul class="nav-links">
                    <li><a class="nav-link" href="#">Top Products</a></li>
                    <li><a class="nav-link" href="#">About</a></li>
                    <li><a class="nav-link" href="#">Pref Form</a></li>
                </ul>
            </nav>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
    </header>

    <main>
        <section class="presentation">

            <div class="introduction">
                <div class="intro-text">
                    <h1>Hello, welcome to our Make-up Assistant</h1>
                    <p>Do you want effortless make-up, but you don't have any idea how type of make-up to do?
                        What type of products to use?
                        What about the style, the tematic?
                        We are here to help you, just complete the form
                    </p>
                </div>
                <div class="cta">
                    <!-- call to action -->
                    <button class="cta-select">Night Make-up</button>
                    <!-- <button class="cta-add">Daily Make-up</button> -->
                </div>
            </div>

            <div class="cover">
                <img draggable="false" src="../images/istockphoto-1176520415-612x612.jpg" alt="site photo">
            </div>

        </section>
    </main>

    <footer class="footer">
        <div class="footer-container">
            <div class="logo-container">
                <img src="../images/stilletos-svgrepo-com.svg" alt="logo">
                <h4 class="logo">Make-up Assistant</h4>
            </div>
            <p>All rights reserved © 2022</p>
        </div>
    </footer>

    <script src="../js/app.js"></script>
</body>

</html>